.navbar {
    height: rem(700px);
    width: rem(300px);
    padding: var(--mantine-spacing-md);
    display: flex;
    flex-direction: column;
    background-color: var(--mantine-color-lime-9);
}

.navbarMain {
    flex: 1;
}

.Button {
    background-color: var(--mantine-color-lime-9);
}

.header {
    padding-bottom: var(--mantine-spacing-md);
    margin-bottom: calc(var(--mantine-spacing-md) * 1.5);
    border-bottom: rem(1px) solid var(--mantine-color-lime-6);
}

.footer {
    padding: 10px;
    border-top: 1px solid #e9ecef; /* Example border color */
}

.version {
    background-color: var(--mantine-color-lime-7);
    color: var(--mantine-color-white);
}

.link {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: var(--mantine-font-size-sm);
    color: var(--mantine-color-white);
    padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
    border-radius: var(--mantine-radius-sm);
    font-weight: 500;

    @mixin hover {
        background-color: var(--mantine-color-lime-7);
        color: var(--mantine-color-white);

        .linkIcon {
            color: var(--mantine-color-white);
        }
    }

    &[data-active] {
        &,
        &:hover {
            box-shadow: var(--mantine-shadow-sm);
            background-color: var(--mantine-color-white);
            color: var(--mantine-color-blue-filled);

            .linkIcon {
                color: var(--mantine-color-blue-filled);
            }
        }
    }
}

.linkIcon {
    color: var(--mantine-color-blue-1);
    margin-right: var(--mantine-spacing-sm);
    width: rem(25px);
    height: rem(25px);
}

.navbarMain {
    flex: 1; /* Take up all available space except the footer */
    overflow-y: auto; /* Allow vertical scrolling if content overflows */
}

.navbar {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Full viewport height */
    width: 250px; /* Set a fixed width for the sidebar */
}